.topnav {
    background-color: #333;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active{
    background-color: #166288;
    color: rgb(8, 7, 7);
}
p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;
    color: mediumspringgreen;
}
body {
    background-color: #023d5a;
}
h1 {
    color: #ddd;
}