p {
    color: rgb(84, 209, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1 {
    color: aquamarine;
}
body{
    background-color: brown;
}
a {
    color: white;
    
}